@font-face {
  font-family: 'Blender';
  src: url('../fonts/BlenderPro-Bold.eot');
  src: local('☺'), url('../fonts/BlenderPro-Bold.woff') format('woff'), url('../fonts/BlenderPro-Bold.ttf') format('truetype'), url('../fonts/BlenderPro-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Blender';
  src: url('../fonts/BlenderPro-Medium.eot');
  src: local('☺'), url('../fonts/BlenderPro-Medium.woff') format('woff'), url('../fonts/BlenderPro-Medium.ttf') format('truetype'), url('../fonts/BlenderPro-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Blender';
  src: url('../fonts/BlenderPro-Book.eot');
  src: local('☺'), url('../fonts/BlenderPro-Book.woff') format('woff'), url('../fonts/BlenderPro-Book.ttf') format('truetype'), url('../fonts/BlenderPro-Book.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}