.portfolio {
  z-index: 2;
  height: 100vh;
  position: relative;
  &__container {
    display: flex;
    align-items: center;
    padding-top: 142px;
    position: relative;
    z-index: 2;
    @media (max-width: 768px) {
      padding: 66px 20px 0 20px;
    }
  }
  &__body {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__nav {
    padding-right: 30px;
    flex: 0 0 auto;
    @media (max-width: 1140px) {
      padding-right: 0;
    }
    @media (max-width: 992px) {
      display: none;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.035em;
    color: #FFFFFF;
    text-transform: uppercase;
    @include adaptive-value('margin-bottom', 50, 20, 1);
  }
  &__tabs {
    flex: 1 1 auto;
    overflow: hidden;
  }
}

.nav-portfolio {
  &__item {
    display: flex;
    align-items: center;
    cursor: url('../images/icons/cursor-hover.png') 10 8, auto;
    &:before {
      display: none;
    }
    span {
      margin-right: 12px;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      &:before {
        margin-right: 11.2px;
        font-size: 15px;
      }
    }
    &.active {
      &:before {
        display: block;
        margin-right: 12px;
        color: #d9426b;
        font-size: 15px;
      }
      span {
        &:before {
          display: none;
        }
      }
    }
    &:not(:last-child) {
      margin-bottom: 27px;
    }
  }
}

.tab-portfolio {
  display: none;
  height: 558px;
  padding-top: 4px;
  padding-left: 31px;
  @media (max-width: 992px) {
    padding: 0;
  }
  @media (max-width: 620px) {
    padding-left: 10px;
    height: 388px;
  }
  .scroll-content {
    @media (max-width: 992px) {
      margin: 0px auto;
    }
  }
  .scrollbar-track-y {
    left: 0;
    background: rgba(253, 77, 124, 0.28);
    width: 1px;
    .scrollbar-thumb-y {
      width: 100%;
      height: 169px;
      background: #FD4D7C;
    }
  }
  &[data-scrollbar] {
    display: none;
    position: relative;
    &.active {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 256px;
    @media (max-width: 910px) {
      flex-direction: column;
      height: auto;
    }
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    &:nth-child(2n - 1) {
      .tab-portfolio {
        &__item {
          &:first-child {
            @media (min-width: 911px) {
              flex: 0 0 463px;
              max-width: 463px;
            }
          }
          &:last-child {
            @media (min-width: 911px) {
              flex: 0 0 390px;
              max-width: 390px;
            }
          }
        }
      }
    }
    &:nth-child(2n) {
      .tab-portfolio {
        &__item {
          &:first-child {
            @media (min-width: 911px) {
              flex: 0 0 390px;
              max-width: 390px;
            }
          }
          &:last-child {
            @media (min-width: 911px) {
              flex: 0 0 463px;
              max-width: 463px;
            }
          }
        }
      }
    }
  }
  &__item {
    position: relative;
    padding: 10px;
    border: 1px solid rgba(#FD4D7C, .5);
    @media (max-width: 910px) {
      max-width: 100%;
      width: 100%;
      margin: 0px auto;
      height: 256px;
    }
    @media (max-width: 620px) {
      height: 174px;
    }
    &:hover {
      .tab-portfolio__content {
        opacity: 1;
      }
    }
    &:not(:last-child) {
      @media (min-width: 911px) {
        margin-right: 40px;
      }
      @media (max-width: 910px) {
        margin: 0 auto 40px;
      }
    }
  }
  &__image {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      object-fit: cover;
      height: 100%;
      @media (max-width: 910px) {
        width: 100%;
      }
    }
  }
  &__content {
    position: absolute;
    left: 10px;
    top: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    background: rgba(0, 0, 0, 0.85);
    transition: 0.2s linear;
    opacity: 0;
  }
  &__image {
    line-height: 0;
    @media (max-width: 768px) {
      height: 100%;
      img {
        object-fit: cover;
        height: 100%;
        min-width: 100%;
      }
    }
  }
  &__title {
    font-weight: bold;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    @include adaptive-value('margin-bottom', 23, 8, 1);
  }
  &__list {
    margin-bottom: 25px;
    li {
      font-size: 10px;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }
  &__btn {
    width: 130px;
    height: 36px;
    text-transform: uppercase;
    cursor: url('../images/icons/cursor-hover.png') 10 8, auto;
  }
}

.modal-portfolio {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background: rgba(12, 12, 12, 0.95);
  backdrop-filter: blur(1px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.2s linear;
  overflow-x: auto;
  overflow-y: auto;
  @media (max-width: 768px) {
    top: 66px;
  }
  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  &__body {
    height: 100vh;
    width: 100%;
    max-width: 80vw;
    margin: 0px auto;
    @media (max-width: 1270px) {
      max-width: 90vw;
    }
    @media (max-width: 768px) {
      max-width: 100vw;
    }
    iframe {
      min-height: 100%;
      overflow: hidden;
      width: 100%;
    }
  }
}